.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
:root{
    --font:'Libre Franklin', sans-serif;
    --primary-blue:hsl(223, 87%, 63%);

    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);

        --Gray: hsl(0, 0%, 59%);
        --Very-Dark-Blue: hsl(209, 33%, 12%);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: var(--font);
}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin:5rem auto;
    padding:1rem 3rem;
    text-align: center;
}
.logo{
    width:5rem;
    margin:3.2rem;
}
.container h1{
    color:var(--Gray);
    font-weight: 400;
    margin-bottom:1.2rem;
}
.container h1 span{
    color:var(--Very-Dark-Blue);
    font-weight: 700;
}
.container p{
    color:var(--Very-Dark-Blue);
    font-weight: 400;
    margin-bottom:1.2rem;
}
form .email{
    width:250px;
    height:45px;
    border-radius: 20px;
    padding:20px;
    border:2px solid var(--Pale-Blue);
    margin-bottom: .8rem;
}
form .email::placeholder{
    color: var(--Pale-Blue);
    opacity:0.8;
    font-size:15px;
}
form .submit{
    border:none;
    width:250px;
    border-radius: 20px;
    color:#fff;
    background-color: var(--primary-blue);
    height:45px;
    font-family: var(--font);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom:4rem;
    box-shadow: 1px 3px 12px 3px var(--Pale-Blue);
    -webkit-box-shadow:  1px 3px 12px 3px var(--Pale-Blue);
    cursor: pointer;
    transition: all .4s;
}
form .submit:hover{
    background-color:hsl(223, 100%, 74%);
    transition: all .4s;
}
.container .hero{
    max-width:90vw;
    height:auto;

}
.social{
    margin-top:3.5rem;
    margin-bottom:1.3rem;
}
.social ul{
display:flex;
flex-direction: row;
justify-content: center;
}
.fab{
    cursor:pointer;
    font-size:1.5rem;
    background-color: #fff;
    color:var(--primary-blue);
    width:43px;
    transition:all .7s;
}
.fab:hover{
    background:var(--primary-blue);
    color:#fff;
    transition:all .7s;
}
i{
    
    border:1px solid var(--Pale-Blue);
    border-radius:50%;
    padding:10px;
}
ul li{
    list-style: none;
    padding:10px;
    margin:7px;
}
.copy{
    color:var(--Gray);
    opacity: .8;
}

@media only screen and (min-width:1040px) {
    form{
        display:grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 12px;
        flex-direction: column;
        
    }
    form .submit{
        width:250px;
    }
    form .email{
        width:450px;
    }
    .container .hero{
        max-width:65vw;
        height:auto;
    }
    .error-text.error {
        padding-left:25px;
    }
}


/* error input */
form .email.error{
    border:2px solid var(--Light-Red);
    width:100%;
}
.error-text{display:none;}
.error-text.error {
    display:flex;
    color:var(--Light-Red);
    font-size:14px;
    font-style: italic;
    width:100%;
}